<!doctype html>
<html lang='es'>
    <head>
        <%- include('./templates/header')%>
    </head>
    
    <body>
        <div id="intro" class="bg-image">
        <div class="container">
           <div class="card">
                <div class="card-header">
                    <%- include('./templates/navbar')%>
                </div>
                <div class="card-body">
                    <%if(pets.size){%>
                        <table class="table bm-2" id="animalsTable">
                            <div class="card text-white bg-dark">
                                <div class="row m-3">
                                    <div class="col-sm-6">
                                        <label for="myInput">Búsqueda</label>
                                        <input type="text" id="searchTerm" onkeyup="syncronicSearch()" placeholder="Búsqueda...">
                                    </div>
                                    <div class="col-sm-6">
                                        <label for="searchIndex">Buscar por </label>
                                            <select id="searchIndex">
                                            <option value="0">Identificador</option>
                                            <option value="1">Nombre</option>
                                            <option value="2">Especie</option>
                                            </select>
                                    </div>
                                </div>
                            </div>
                            <thead>
                                <th class="text-center">Id</th>
                                <th class="text-center">Nombre</th>
                                <th class="text-center">Especie</th>
                                <th class="text-center">Edad</th>
                                <th class="text-center">Contacto</th>
                                <th class="text-center">Género</th>
                            </thead>
                            <tbody>
                                <% pets.forEach((pet,k) => { %>
                                    <tr>
                                        <td class="text-center"><%= k %></td>
                                        <td class="text-center"><%= pet.name %></td>
                                        <td class="text-center"><%= pet.spec %></td>
                                        <td class="text-center"><%= pet.age %></td>
                                        <td class="text-center"><%= pet.phone %></td>
                                        <td class="text-center"><%= pet.gender %></td>
                                    </tr>
                                <%})%>
                            </tbody>
                        </table>
                    <%}else{%>
                        <h5>No hay Registros</h5>
                    <%}%>
                    <div class="row m-3">
                        <div class="col-sm-6">
                            <a class="btn btn-success" href="/insert" role="button">Nuevo Registro</a>
                        </div>
                        <div class="col-sm-6">
                            <div class="btn-group">
                                <input id='inputFile' type='file' hidden/>
                                <input id='loadBtn' type='button' class="btn btn-secondary" value='Cargar'/>
                                <%if(pets.size){%>
                                    <script>
                                        var dataPets = new Map()
                                        dataPets = '<%-JSON.stringify(pets)%>'
                                        console.log(dataPets)
                                    </script>
                                    <button type="button" class="btn btn-secondary" onclick="exportData(dataPets)">Guardar</button>
                                <%}else{%>
                                    <button type="button" class="btn btn-secondary" disabled>Guardar</button>
                                <%}%>
                            </div>
                        </div>
                        <pre id="output"></pre>
                    </div>
                </div>
            </div>
        </div>
        <%- include('./templates/footer')%>
    </div>
    </body>
</html>